/* Language dropdown parent */
.home_nav_language_Dropdown_Parent {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 40px;
    font-size: 14px;
    flex-shrink: 0;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 47, 52, 0.0);
    border: none;
}

/* Selected language text */
.home_nav_language {
    margin-right: 5px;
}

/* Dropdown icon container */
.home_nav_language_dropdown {
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 47, 52, 0.0);
    border: none;

}

/* Dropdown icon */
.home_nav_language_dropdown_img {
    transition: transform 0.3s ease; 
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.home_nav_language_dropdown_rotate {
    transform: rotate(180deg);
}


.home_nav_language_dropdown_notrotate {
    transform: rotate(0deg);
}

/* Dropdown list */
.languageDropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px; /* Adjust width as needed */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 5px;
}

/* Dropdown item */
.languageDropdown-item {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    width: 100%;
    border:none
}

.languageDropdown-item:hover {
    background-color: #f1f1f1;
}