.sellSection {
  font-family: 'Roboto', A2rial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header section */
.sellSectionHeader {
  height: 68px;
  padding: 10px;
  width: 100vw;
  background: rgba(0, 47, 52, 0.03);
  display: flex;
  align-items: center;
}
.sellSectionHeaderButton {
  background-color: white;
  border: none;
  margin-left: 20px;
}

/* post you ad text section */
.sellSetionPostAd {
  font-weight: 700;
  font-size: 24px;
}

/* sell section form */
.sellSectionCategoryWrapper {
  border: 1px solid black;
  border-radius: 3px;
  width: 838px;
  display: flex;
  flex-direction: column;
}

/* choose category text */
.sellSectionChooseCategoryText {
  height: 64px;
  padding: 24px 30px 16px;
  width: 100%;
}

/* selction category wrapper */
.sellSectionCategoryListWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sellSectionCategoryCarWrapper{
    width: 100%;
    display: flex;
    position: relative;
}
.sellSectionCategoryCar{
    width: 50%;
    height:48px;
    padding: 8px;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    border: none;
    border-top: 1px solid black;
   
}
.sellSectionCategoryCarText{
 
    flex-grow: 1;
    text-align: left;
    height: 100%;
    padding-left: 20px;
    display: flex;
   font-size: 16px;
   align-items: center;

}

/* subcategories of items */
.sellSectionCategoryCarSubWrapper{
  width:50%;
  background-color: rgb(45, 45, 39);
  position: absolute;
  right: 0%;
}