.signup_Wrapper {
  background-color: rgb(250, 241, 254);
  border-radius: 3px;
  min-height: 600px;
  width: 400px;
  margin: 16px;
  padding: 16px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.signup_title {
  text-align: center;
}
/* username */
.signup_usernameInput {
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-top: 30px;
 
}
.signup_usernameInput input
{
   margin-left: 60px;
   width: 190px;
}
/* email */
.signup_emailInput {
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  
  color: #333;
}
.signup_emailInput input{
    margin-left: 93px;
    width: 190px;
}
/* password */
.signup_passwordInput {
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
.signup_passwordInput input{
    margin-left: 65px;
    width: 190px;
}

/* confirm password */
 .signup_confirmPasswordInput {
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
.signup_confirmPasswordInput input{
    margin-left: 10px;
    width: 190px;
}
 /* submit */
 .signup_submitButton{
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    border: none;
    border-radius: 3px;
    background-color: aqua;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
 }
 .signup_submitButton:hover
 {
    background-color: #007bff;
 }
.signup_error {
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  color: red;
  margin-left: 150px;
}
.signup_usernameInput input,
.signup_passwordInput input,
.signup_emailInput input,
.signup_confirmPasswordInput input{
    
    height: 30px;
}
