.cart_Wrapper{
    display: flex;
    flex-direction: column;
    width: 80vw;
   
}

/* cart image section */

.cart_imageSection{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; 
    
   
}