.verification_wrapper {
  background-color: #faf1fe;
  border-radius: 6px;
  min-height: 400px;
  width: 400px;
  margin: 16px;
  padding: 16px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  color: red;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.verification_wrapper span {
  margin-top: 50px;
  line-height: 25px;
}

.verification_login_button {
  background-color: #faf1fe;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}
.verification_login_button:hover{
    color: rgb(133, 133, 250);
}
.verification_login_text {
  margin-left: 12px;
}
