.home_nav_input_objects {

    position: relative;
    height: 48px;
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex: 0.9;
    min-width: 40px;
    width: 50%;
    transition: border-color 0.3s ease;
}



.home_nav_input_objects:focus-within {
    border-color: #b2d3d3;
}

.home_nav_input_objects_field {
    height: 100%;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    flex: 1;
    flex-grow: 1;
    min-width: 0px;
    box-sizing: content-box;
    background-color: transparent;
    color: black;
}

.home_nav_input_objects_field:focus {
    border: none;
    outline: none;
}

/* Search icon */
.home_nav_input_object_search {
    border: none;
    min-width: 24px;
    height: 24px;
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
    background-color: black;
    right: 0%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home_nav_input_object_search:hover {
    background-color: #333;
}


@media (max-width: 768px) {
    .home_nav_input_objects {
        flex: 1;
    }
}