.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 2px;
  width: fit-content;
}
/* TEXT */
.modal_text {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.modal_button {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
/* yes button */
.modal_yes {
  padding: 10px;
  width: 50px;
  font-weight: 900;
}

.modal_no {
  padding: 10px;
  width: 50px;
  font-weight: 900;
}
.modal_yes:hover,
.modal_no:hover{
  background-color: #cad8e2;
}

.modal_no :active {
  border: black;
}
