/* wrapper */
.AppWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;

}
/* outlet */
.AppOutlet {
  flex-grow: 1;
  margin-bottom: 200px;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 255, 255); */
}
